{% extends "base.html" %}

{% block title %}All Items - House Inventory{% endblock %}

{% block header %}
    <h1>All Items</h1>
{% endblock %}

{% block content %}
    <div class="all-items-tree">
        <div class="collapsible">
            <img src="/thumbnail/" alt="Home">
            <a href="/browse">Home</a>
        </div>
        <ul>
            {% macro render_items(items, level=0) %}
                {% for item in items %}
                <li class="{% if item.sub_items %}{% if level >= 0 %}collapsed{% else %}expanded{% endif %}{% endif %}">
                    <span class="collapsible" {% if item.sub_items %}onclick="toggleCollapse(this)"{% endif %}>
                        {% if item.photo_path %}
                            <img src="/thumbnail/{{item.path}}" {% if level >= 1 %}loading="lazy"{% else %}loading="eager"{% endif %} alt="{{ item.name }}">
                        {% endif %}
                        {{ item.name }}<a href="/browse/{{ item.path }}" aria-label="Browse {{ item.name }}" title="Browse {{ item.name }}"> 🔗</a>
                    </span>
                    {% if item.sub_items %}
                        <div class="content">
                            <ul>{{ render_items(item.sub_items, level + 1) }}</ul>
                        </div>
                    {% endif %}
                </li>
                {% endfor %}
            {% endmacro %}
            {{ render_items(items) }}
        </ul>
    </div>
    <p>Total items: {{ total_items }}</p>

    <script>
        function toggleCollapse(element) {
            const li = element.parentElement;
            li.classList.toggle('expanded');
            li.classList.toggle('collapsed');
        }
    </script>
{% endblock %}
