{% extends "base.html" %}

{% block title %}{{ metadata.name }} - House Inventory{% endblock %}

{% block style %}
    <style>
        /* Extend the .button class from simple.css */
        .button-item {
            margin-right:5px;
            padding:0px !important;
            min-height:3rem;
            align-items: center;
            vertical-align: middle;
            display:flex;
            border:none !important;
        }

        /* Style for the thumbnail image */
        .button-thumbnail img {
            height: 4rem; /* Thumbnail height */
            margin-right: 10px; /* Space between the thumbnail and text */
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block header %}
    <nav>
        <ul class="breadcrumb">
            {% for crumb in breadcrumbs %}
                <li>
                    {% if loop.last %}
                    <!---{{ crumb.name }}--->
                        <a aria-current="page" href="/browse/{{ crumb.path }}">{{ crumb.name }}</a>
                    {% else %}
                        <a href="/browse/{{ crumb.path }}">{{ crumb.name }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <section>
    <header>
        <h1 style="display:inline-block;margin:0px;vertical-align:bottom;line-height:1">{{ metadata.name }}<a href="/barcode/{{path}}" style="text-decoration:none">📃</a></h1>
            {% if metadata.photo_path %}
            <aside>
                <img src='{{metadata.photo_path}}' style="max-height:250px;">
            </aside>
            {% endif %}
    </header>

        {{ metadata.html_content | safe }}
        <a href="/edit/{{ path }}" class="button">Edit</a>
        <dialog id="delete_dialog">
            <h3>Are you sure?</h3>
            <p>All sub items will be moved in to parent item.</p>
            <form action="/delete/{{ path }}" method="POST" style="display:inline-block">
                <button type="submit">Delete</button>
            </form>
            <button id="delete_close" autofocus>Cancel</button>
        </dialog>
        <button id="delete_show">Delete</button>
        <script>
            const dialog = document.getElementById("delete_dialog");
            const showButton = document.getElementById("delete_show");
            const closeButton = document.getElementById("delete_close");

            // "Show the dialog" button opens the dialog modally
            showButton.addEventListener("click", () => {
              dialog.showModal();
            });

            // "Close" button closes the dialog
            closeButton.addEventListener("click", () => {
              dialog.close();
            });
        </script>
    </section>

    <section>
        <h3>Inside</h2>
    {% if items %}
    <div style="display:flex">
            {% for item in items %}
                    {% if item.photo_path %}
                        <a href="/browse/{{item.path}}" class="button button-item button-thumbnail">
                            <img src="/thumbnail/{{item.path}}">{{item.name}}&nbsp;
                        </a>
                    {% else %}
                        <a href="/browse/{{ item.path }}" class="button button-item">&nbsp;{{item.name}}&nbsp;</a>
                    {% endif %}
            {% endfor %}
    </div>
            <br>
    {% endif %}
        <br><a href="/new/{{ path }}" class="button">Add New Item</a>
    </section>

    <section>
        <h3>Attachments</h2>
    {% if attachments %}
        <ul>
            {% for attachment in attachments %}
            <li>
                    <a href="/download/{{ attachment.path }}" class="button">Download</a>
                    <button href="/delete-attachment/{{ attachment.path }}" onclick="document.getElementById('dialog-delete-{{attachment.name}}').showModal()">Delete</button>
                    <dialog id="dialog-delete-{{attachment.name}}">
                        <h2>Are you sure?</h2>
                        <form method="dialog">
                            <button>Cancel</button>
                            <a href="/delete-attachment/{{ attachment.path }}" class="button">Yes</a>
                        </form>
                    </dialog>
                    <span>{{ attachment.name }}</span>
            </li>
            {% endfor %}
    {% endif %}
        <form action="/upload/{{ path }}" method="post" enctype="multipart/form-data" style="display: inline-block;">
            <input type="file" name="file" required>
            <button type="submit">Upload Attachment</button>
        </form>
    </section>

    {% if siblings %}
    <section>
        <h3>Siblings</h2>
    <div style="display:flex">
            {% for item in siblings %}
                    {% if item.photo_path %}
                        <a href="/browse/{{item.path}}" class="button button-item button-thumbnail">
                            <img src="/thumbnail/{{item.path}}">{{item.name}}&nbsp;
                        </a>
                    {% else %}
                        <a href="/browse/{{ item.path }}" class="button button-item">&nbsp;{{item.name}}&nbsp;</a>
                    {% endif %}
            {% endfor %}
    </div>
            <br>
        <br><a href="/new/{{ path }}" class="button">Add New Item</a>
    </section>
    {% endif %}



{% endblock %}

{% block footer %}
<p>ID: {{metadata.id}}</p>
{% endblock %}
