{% extends "base.html" %}

{% block title %}New Item - House Inventory{% endblock %}

{% block header %}Create New Item{% endblock %}

{% block content %}
    <form action="/create/{{ parent_path }}" method="post">
        <label for="name">Item Name:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="content">Item Name:</label>
        <textarea type="text" id="content" name="content" required></textarea>

        <button type="submit">Create Item</button>
        <a href="/browse/{{ parent_path }}" class="button">Cancel</a>
    </form>
{% endblock %}
