{% extends "base.html" %}

{% block title %}New Item in {{parent}} - House Inventory{% endblock %}

{% block header %}Create New Item in {{parent}}{% endblock %}

{% block content %}
    <h3> Create in {{ parent }}</h3>
    <form action="/create/{{ parent_path }}" method="post" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="content">Content:</label>
        <textarea type="text" id="content" name="content"></textarea>

        <label for="photo">Photo:</label>
        <input type="file" id="photo" name="photo" accept="image/jpeg, image/png"  capture="environment" />
        <br>

        <!-- Hidden input field to capture the value of 'go' -->
        <input type="hidden" id="go" name="go" value="false">

        <!-- Button for 'Create Item & Go' -->
        <button type="submit" onclick="document.getElementById('go').value = 'true'">Create & Go</button>

        <!-- Button for 'Create Item & Stay' -->
        <button type="submit" onclick="document.getElementById('go').value = 'false'">Create & Stay</button>

        <br>
        <a href="/browse/{{ parent_path }}" class="button">Cancel</a>
    </form>
{% endblock %}
