{% extends "base.html" %}

{% block title %}New Item in {{ parent }} - House Inventory{% endblock %}

{% block header %}Create New Item in {{ parent }}{% endblock %}

{% block content %}
    <form action="/create/{{ parent_path }}" method="post" enctype="multipart/form-data">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required autofocus>

        <label for="content">Content</label>
        <textarea id="content" name="content"></textarea>

        <label for="photo">Photo</label>
        <input type="file" id="photo" name="photo" accept="image/jpeg, image/png" capture="environment">

        <fieldset>
            <legend>Print label?</legend>
            <label>
                <input type="radio" name="label" value="yes" checked> Yes
            </label>
            <label>
                <input type="radio" name="label" value="yes, with text"> Yes, with text
            </label>
            <label>
                <input type="radio" name="label" value="no"> No
            </label>
        </fieldset>

        <input type="hidden" id="go" name="go" value="false">

        <button type="submit" onclick="document.getElementById('go').value = 'true'">Create &amp; Go</button>
        <button type="submit" onclick="document.getElementById('go').value = 'false'">Create &amp; Stay</button>
        <a href="/browse/{{ parent_path }}">Cancel</a>
    </form>
{% endblock %}
