---
layout: base.njk
---

<div class="breadcrumb">
  {% set pathParts = page.url.split('/') %}
  {% set currentPath = '' %}
  <a href="/">Index</a>
  {% for part in pathParts %}
    {% if part and part != 'index.html' %}
      {% set currentPath = currentPath + '/' + part %}
      / <a href="{{ currentPath }}">{{ part }}</a>
    {% endif %}
  {% endfor %}
</div>

<article class="item">
  <h2>{{ name }}</h2>
  
  <div class="tags">
    {% for tag in tags %}
      {% if tag != 'allItems' %}
        <span class="tag">{{ tag }}</span>
      {% endif %}
    {% endfor %}
  </div>
  
  <div class="item-content">
    {{ content | safe }}
  </div>
  
  {% set itemPath = page.inputPath | replace("index.md", "") %}
  {% set files = collections.all | getAttachments(itemPath) %}
  
  {% if files.length > 0 %}
  <div class="attachments">
    <h3>Attachments</h3>
    <ul>
      {% for file in files %}
        <li><a href="/{{ file.url }}">{{ file.filename }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  
  {% set subItems = collections.allItems | getSubItems(page.url) %}
  
  {% if subItems.length > 0 %}
  <div class="sub-items">
    <h3>Contains</h3>
    <div class="item-grid">
      {% for item in subItems %}
        <div class="item-card">
          <h3><a href="{{ item.url }}">{{ item.data.name }}</a></h3>
          <p>
            {% if item.data.category %}Category: {{ item.data.category }}{% endif %}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</article>
